
.category_block li{
    font-size: 14px;
    color: #343a40;
    border-radius: 0px;
}
.category_block li:hover {
    background-color: #435a64;
    cursor: pointer;
    color: #ffffff;

}
.cat-head{  
    background-color: #fd8300;
}