.btn-primary:hover, .btn-primary:active {
    background: #d96e14;
}

.btn-primary {
    background: var(--bs-orange);
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 26px;
    text-shadow: none;
    outline: none !important;
}
.btn-primary:active {
    transform: translateY(1px);
  }
  
.btn1 {
    height: 35px;
    width: 120px;
    border: none;
    font-size: 13px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer
}

.btn2 {
    height: 35px;
    width: 120px;
    border: none;
    background-color: #fd4d86;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}
.btn2:hover {
    background-color: #af1d4c
}

.btn2:focus {
    box-shadow: none;
    outline: none
}

.card {
    width: 100%;
    border-radius: 13px;
    border:none;
    background-color: #eef8fe;
}

.card1 {
    border-radius: 11px;
    width: 100%
}

.innercard {
    width: 100%;
    border-radius: 11px
}
.btn3 {
    height: 35px;
    width: 120px;
    border: none;
    background-color: #fd8300;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center
}

.btn3:hover {
    background-color: #165f12
}

.btn3:focus {
    box-shadow: none;
    outline: none
}

.navbar-brand {
    font-weight: 700;
    font-size: 22px
}

.go {
    color: #119cff
}

.home {
    color: #119cff
}

.nav-item {
    font-weight: 500;
    color: #000000
}

.heading {
    font-weight: 700;
    font-size: 35px
}

.text {
    font-size: 32px;
    font-weight: 700;
    color: #0f1113b8
}

.text1 {
    color: #7f858a;
    font-size: 13px;
    font-weight: 500
}

.buttonitems {
    font-size: 12px;
    color: #179dfe;
    font-weight: 500
}

.card2 {
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 100%
}

.stellar {
    font-size: 16px;
    font-weight: 600
}

.hosting {
    font-size: 12px;
    color: #bac3ce
}

.price {
    font-size: 25px;
    font-weight: 700
}

.small {
    font-size: 13px
}

.year {
    font-size: 13px;
    color: #119cff
}


// 

.t-products {
    background-image: linear-gradient(to right top, #5629c0, #5625cb, #5620d5, #551ae0, #5412eb);
    color: #fff;
    border-radius: 3px
}

.processor {
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 1px solid #eee
}

.brand {
    background-color: #fff;
    border-bottom: 1px solid #eee
}

.type {
    background-color: #fff
}

.product {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    position: relative
}

.about span {
    color: #5629c0;
    font-size: 16px
}

.cart-button button {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    height: 38px
}

.cart-button button:focus,
button:active {
    font-size: 12px;
    color: #fff;
    background-color: #2e136d;
    box-shadow: none
}

.product_fav i {
    line-height: 40px;
    color: #5629c0;
    font-size: 15px
}

.product_fav {
    display: inline-block;
    width: 36px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.product_fav:hover {
    background: #5629c0
}

.product_fav:hover i {
    color: #fff
}

.about {
    margin-top: 12px
}

.off {
    position: absolute;
    left: 60%;
    top: 3%;
    width: 100%;   
    min-width: 80px;   
    max-width: 100px;   
    text-align: center;
    height: 30px;
    line-height: 8px;
    border-radius: 5px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}