<div class="container mt-3">
    <div class="card card1 p-2">
        <div class="innercard p-2">
            <div class="mt-3 d-flex justify-content-center"> <span class="heading">New limited edition</span> </div>
            <div class="d-flex justify-content-center"> <span class="text">Anime merch</span> </div>
            <div class="mt-3 d-flex justify-content-center"> <span class="text1">From Naruto to Bakemonogatari. We offer the best
                    Anime merchandise around. </span> </div>
            <div class="row mt-3 p-2 g-3 d-flex justify-content-center">
                <div class="col-12 col-sm-3">
                    <app-category-list></app-category-list>
                </div>
                <div class="col-md-9">
                    <div class="row g-2" *ngIf="productList">
                        <div *ngFor="let product of productList" class="col-md-4">
                            <div class="product py-4">
                                <span *ngIf="product.productInventory <= lowStock" class="off bg-warning">Almost Gone</span>
                                <div class="text-center"> <img [src]="product.imageBase64" height="200" width="200"> </div>
                                <div class="about text-center">
                                    <h5>{{product.name}}</h5> <span>{{product.price | currency:'ZAR':'R'}}</span>
                                </div>
                                <div class="cart-button mt-3 px-2 d-flex justify-content-between align-items-center"> <button class="btn btn-primary text-uppercase">Add to cart</button>
                                    <div class="add"> <span class="product_fav"><i class="fa fa-minus"></i></span> {{quantity}} <span class="product_fav"><i
                                                class="fa fa-plus"></i></span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

